<!-- JavaScript is being inserted; see /app/assets/javascripts/parks.js -->

<p id="notice"><%= notice %></p>

<h1>Listing Parks</h1>

  <%= form_for(@park, url: :parks_index) do |p| %>
  <div id="name_form">
    <%= p.label :name %><br>
    <%= p.text_field :name %>
  </div>
  <div id="city_form">
    <%= p.label :city %><br>
    <%= p.text_field :city %>
  </div>
  <% end %>

  <%= render 'table' %>

<br>

<%# link_to 'New Park', new_park_path %>
